build: false

environment:
    PYTHON: "C:\\Python27"
    PYTHON_VERSION: "2.7.8"
    PYTHON_ARCH: "32"

    CONAN_USERNAME: "ppodsiadly"
    CONAN_LOGIN_USERNAME: "ppodsiadly"
    CONAN_CHANNEL: "stable"
    VS150COMNTOOLS: "C:\\Program Files (x86)\\Microsoft Visual Studio\\2017\\Community\\Common7\\Tools\\"
    CONAN_UPLOAD: "https://api.bintray.com/conan/ppodsiadly/conan"
    CONAN_REMOTES: "https://api.bintray.com/conan/ppodsiadly/conan"

    matrix:
        - APPVEYOR_BUILD_WORKER_IMAGE: Ubuntu1604
        - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2015
          CONAN_VISUAL_VERSIONS: 14
        - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2017
          CONAN_VISUAL_VERSIONS: 15


install:
  - cmd: set PATH=%PATH%;%PYTHON%/Scripts/
  - sh: sudo apt-get install libncurses-dev
  - pip install --user conan_package_tools --upgrade
  - conan user # It creates the conan data directory

test_script:
  - python build.py
